@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of products</h1>
</div>
<br>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">CategoryId</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <th scope="row">@product.Id</th>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CategoryId</td>
        </tr>
    }
    </tbody>
</table>