@model Product
@{
    ViewData["Title"] = "Product update";
    var categories = ViewBag.Categories as List<Category>;
}
<form action="Update" method="post" xmlns="http://www.w3.org/1999/html">
    <div class="row">
            <div class="col-md-2">New name</div>
            <div class="col-md-4">
                <input required autocomplete="off" asp-for="Id" class="form-control" type="hidden" />
            </div>
        </div>
    <div class="row">
        <div class="col-md-2">New name</div>
        <div class="col-md-4">
            <input required autocomplete="off" asp-for="Name" class="form-control" type="text"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">New price</div>
        <div class="col-md-4">
            <input required autocomplete="off" asp-for="Price" class="form-control" type="text"/>
        </div>
    </div>
    <select class="form-select" aria-label="Default select example" asp-for="CategoryId">
        <option selected>Open this select menu</option>
        @foreach (var category in categories)
        {
            <option value=@category.Id>@category.Name</option>
        }
    </select>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <input class="btn btn-success" type="submit" value="Save"/>
        </div>
    </div>
</form>