@model List<Product>
@{
    ViewData["Title"] = "Categories";
    var products = ViewBag.Products as List<Product>;
}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">CategoryId</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in products)
    {
        <tr>
            <th scope="row">@product.Id</th>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CategoryId</td>
        </tr>
    }
    </tbody>
</table>